
<table class="index-table">

  <tbody>
    <% @players.each do |player| %>
      <tr>
      <td><img src="<%= player.small_avatar %>" /></td>
        <td><%= link_to player.name, player %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
