<h1>Listing heroes</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heroes.each do |hero| %>
      <tr>
        <td><img src=<%= hero.hero_small_img(hero.name) %>></img></td>
        <td><%= hero.record %> </td>
        <td> <%= hero.average_kda %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero', new_hero_path %>
