<div class="achievement">
	<span class="steam-name">
	 	<%= achievement.displayname %>
	 </span>
	<div class="steam-icon">
		 <img alt="<%= achievement.icon %>" src="<%= achievement.icon %>">
 	</div>
</div>